html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.container {
    margin-top: 0;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover, .btn-success.btn-outline:hover, .btn-info.btn-outline:hover, .btn-warning.btn-outline:hover, .btn-danger.btn-outline:hover {
    color: #fff;
}

hr {
    margin: 0;
    border-top-color: #ddd;
}

/**
 * Header
 */

.header {
    display: table;
    width: 100%;
    padding: 200px 0 160px;
    color: #fff;
    background: #0746b3;
    background: -moz-linear-gradient(45deg, #0746b3 0%, #2e9ff5 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #0746b3), color-stop(100%, #2e9ff5));
    background: -webkit-linear-gradient(45deg, #0746b3 0%, #2e9ff5 100%);
    background: -o-linear-gradient(45deg, #0746b3 0%, #2e9ff5 100%);
    background: -ms-linear-gradient(45deg, #0746b3 0%, #2e9ff5 100%);
    background: linear-gradient(45deg, #0746b3 0%, #2e9ff5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0746b3', endColorstr='#2e9ff5', GradientType=1);
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header .vertical {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.header .vertical h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 200;
}

.header .vertical h1 strong {
    font-weight: 700;
}

.header .vertical h3 {
    font-weight: 200;
}

.header .vertical h3 em {
    font-weight: 400;
    font-style: normal;
}

/**
 * Intro
 */

.intro {
    padding: 120px 0;
}

/**
 * Services
 */

.services {
    width: 100%;
    padding: 120px 0;
    color: #fff;
    background: #0746b3;
    background: -moz-linear-gradient(45deg, #0746b3 0%, #2e9ff5 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #0746b3), color-stop(100%, #2e9ff5));
    background: -webkit-linear-gradient(45deg, #0746b3 0%, #2e9ff5 100%);
    background: -o-linear-gradient(45deg, #0746b3 0%, #2e9ff5 100%);
    background: -ms-linear-gradient(45deg, #0746b3 0%, #2e9ff5 100%);
    background: linear-gradient(45deg, #0746b3 0%, #2e9ff5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0746b3', endColorstr='#2e9ff5', GradientType=1);
}

.services .row:first-child {
    margin-bottom: 40px;
}

.services .row .service-item .service-icon {
    display: inline-block;
    width: 140px;
    height: 140px;
    line-height: 136px;
    margin-bottom: 20px;
    font-size: 56px;
    vertical-align: middle;
    border: 3px solid #ffffff;
    border-radius: 50%;
}

/**
 * Get Started
 */

.get-started {
    padding: 120px 0;
}

.get-started .buttons {
    display: inline-block;
    margin: 30px 0 50px;
}

.get-started .buttons em {
    display: inline-block;
    margin: 0 20px;
}

.get-started .dev-note {
    color: #777;
    max-width: 600px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Team
 */

.team {
    padding: 120px 0;
}

.team .row:first-child, .team .row:nth-child(2) {
    margin-bottom: 40px;
}

.team .row .team-item {
    opacity: 0.6;
}

.team .row .team-item:hover {
    opacity: 1.0;
}

.team .row .team-item img {
    display: inline-block;
    width: 140px;
    height: 140px;
    line-height: 132px;
    margin-bottom: 20px;
    font-size: 52px;
    vertical-align: middle;
    border: 3px solid #ddd;
    padding: 2px;
    border-radius: 50%;
}

.team .row .team-item h4 {
    margin: 0;
    padding: 0;
}

/* Footer */

footer {
    padding: 40px 0;
    background: #eee;
}

footer em {
    color: #888;
}
