/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 150px 0;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}

/* Callout */

.example {
  color: #fff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/callout.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  color: #ffffff;
  background: #7fbbda;
  padding: 5px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

/* Dataset Table */

th {
  font-size: 1.5em;
  background-color: rgb(245,245,245);
}

/* Upload */

.uploadBlur {
  position: absolute;
  background: rgba(0,0,0,0.55);
  width: 100%;
  height: 45%;
  left: 0;
  bottom: 15%;
}
.upload {
  background: url(../img/bg-upload.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  bottom: 30%;
}

.btn-file {
    position: relative;
    overflow: hidden;
    width: 300px;
    font-size: 30px;
    border-radius: 15px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.upload-text {
  position: relative;
  color: #fff;
  display: table;
  top: 45%;
  font-weight: 200;

}

/* Visualize */
.visualize-container {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  float: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.viz-row {

  display: table-row;
  /*height: 100%;*/
}
.visualize-1, .visualize-2, .visualize-3 {
  display: table-cell;
  float: none;
}

.visualize-1 {
  background-color: rgb(69,110,145);
  color: white;
}

.visualize-2 {
  background-color: rgb(227,157,154);
}

.visualize-3 {
  background-color: rgb(128,178,222);
}

.btn-group {
  position:relative;
  padding-top: 10px;
  width: 80%;
  font-size: 40px;
}




/* Responsive */

@media (max-width: 768px) {

  .header {
	background: url(../img/bg.jpg) no-repeat center center scroll;
  }

/*  .example {
	background: url(../img/callout.jpg) no-repeat center center scroll;
  }*/

  .map {
	height: 75%;
  }

}
