/* Chart Styles
=============================================== */

/* Pie Chart */

.pie-chart {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
}

.pie-chart-arc path {
  stroke: #fff;
}


/* Map */

#ecoChart {
  height: 100%;
  width: 100%;
}

.map-dot, .map-dot svg {
  position: absolute;
}

.map-dot svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px "Helvetica Neue", Helvetica, sans-serif;
}

.map-dot circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}

/* Bar Chart */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}