<div class="row">
	<div class="col-md-4 text-center">
		<h1>
			Dataset
		</h1>
		<select class="form-control" ng-model="selectedDataset" ng-options="f for f in datasets"><option></option></select>
	</div>
	<div class="col-md-4 text-center">
		<h1>
			Fields
		</h1>
		<div class="btn-group btn-vert-block">
			<button type="button" class="btn btn-primary btn-block center-block">Year</button>
			<button type="button" class="btn btn-primary btn-block center-block">Team</button>
			<button type="button" class="btn btn-primary btn-block center-block">Payroll</button>
		</div>
	</div>
		<div class="col-md-4 text-center">
		<h1>
			Type
		</h1>
		<div class="btn-group btn-vert-block">
			<pre>{{selectedVizType}}</pre>
			<button type="button" ng-repeat="type in vizTypes" class="btn btn-primary btn-block center-block" ng-repeat="type in vizTypes" ng-model="selectedVizType.id" btn-radio="type.id">{{type.name}}</button>
		</div>
	</div>
</div>
<br>
<div class="visualize-btn row">
	<div class="col-md-12 text-center">
		<h1>
			<a href="#visualization">Visualize</a>
		</h1>
	</div>
</div>