<div class="container">
	<div class="row">
		<div class="col-sm-6 text-center">
			<h1>
				Dataset
			</h1>
			<pre>{{selectedDataset}}</pre>
			<select class="form-control" ng-model="selectedDataset" ng-options="f for f in datasets"><option></option></select>
		</div>
		<div class="col-sm-6 text-center">
			<h1>
				Type
			</h1>
			<div class="btn-group btn-vert-block">
				<pre>{{selectedVizType}}</pre>
				<button type="button" ng-repeat="type in vizTypes" class="btn btn-primary btn-block center-block" ng-repeat="type in vizTypes" ng-model="selectedVizType.id" btn-radio="type.id">{{type.name}}</button>
			</div>
		</div>
	</div>

	<br>
	<br>

	<div class="row">
		<div class="col-sm-6 text-center">
			<h1>
				Fields
			</h1>
			<br>
			<div class="fields">
				<ul class="field col-sm-3 text-center" ng-repeat="field in fields">
					<li>{{field}}</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<h1>
				Parameters
			</h1>
			<div class="col-sm-6 text-center" ng-repeat="choice in vizTypes[selectedVizType.id].choices">
				<h2>{{choice}}</h2>
				<!-- CHANGE THE MODEL HERE -->
				<pre>{{vizTypes[selectedVizType.id].options[choice]}}</pre>
				<select class="form-control" ng-model="vizTypes[selectedVizType.id].options[choice]" ng-options="field for field in fields"><option></option></select>
			</div>
		</div>
	</div>

	<div class="visualize-btn row">
		<div class="col-sm-12 text-center">
			<h1>
				<a href="#visualization">Visualize</a>
			</h1>
		</div>
	</div>
</div>