.link
{
    fill: red;
    stroke: #666;
    stroke-width: 1.5px;
}

.node circle
{
    fill: orange;
    stroke: purple;
    stroke-width: 1.5px;
}

text 
{
    font: 10px sans-serif;
    pointer-events: none;
}
