.mainsvg 
{
    height:1200px;
    /*border: 1px solid red;*/
    width: 800px;
}

.node circle
{
    stroke-width: 1.5px;
}

#tooltip 
{
    position: absolute;
    width: auto;
    height: 30px;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

#tooltip.hidden 
{
    display: none;
}

#tooltip p 
{
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
